/* Фигурные скобки. Вариант 1 */
a, b, i /* foobar */ {
  padding:0;
  margin:0;
  }
  div p{
    font-size:1px;
      top:0;
    }
    div p em{
        font-style:italic;  
        border-bottom:1px solid red;  
}  
    
/* Фигурные скобки. Вариант 2 */
div
{
  padding:0;
  margin:0;
}
  div p  
  {
    font-size:1px;
      top:0;  
  }
    div p em
    {
        font-style:italic;/* inline comment*/  
        border-bottom:1px solid red;
    }

/* Фигурные скобки. Вариант 3 */  
div {
  padding:0;
  margin:0;
}
/* foo */  div p {
    font-size:1px;
      top:0
  }
    div p em {
        /* upline comment*/
        font-style:italic;
        border-bottom:1px solid red
    }

    a{
top: 0;/* ololo */margin :0;}
    b
        {
top :0/* trololo */;margin : 0}

    

      

