/* Фигурные скобки. Вариант 1 */
a, b, i /* foobar */
{
  margin: 0;
  padding: 0;
  }
  div p
{
      top: 0;

    font-size: 1px;
    }
    div p em
{
        border-bottom: 1px solid red;

        font-style: italic;
}

/* Фигурные скобки. Вариант 2 */
div
{
  margin: 0;
  padding: 0;
}
  div p
{
      top: 0;

    font-size: 1px;
  }
    div p em
{
        border-bottom: 1px solid red;

        font-style: italic;/* inline comment*/
    }

/* Фигурные скобки. Вариант 3 */
div
{
  margin: 0;
  padding: 0;
}
/* foo */  div p
{
      top: 0;

    font-size: 1px;
  }
    div p em
{
        border-bottom: 1px solid red; /* trololo */ /* trololo */

        /* upline comment*/
        font-style: italic;
    }

    a
{
top: 0;/* ololo */
margin: 0;}
    b
{
top: 0/* trololo */;
margin: 0;}
