a
{
    leftover: yay;

    position: absolute;
    z-index: 1;
}

b
{
    leftover: yay;

    position: absolute;
    z-index: 2;
}

c
{
    leftover: yay;

    position: absolute;
    z-index: 3;
}
