a
{
    position: absolute;
    z-index: 1;

    leftover: yay;
}

b
{
    position: absolute;
    z-index: 2;

    leftover: yay;
}

c
{
    position: absolute;
    z-index: 3;

    leftover: yay;
}
