.some-class {
    @if $behavior == nest-collapse {
        width: auto;
        max-width: none;
        margin: 0;
    }
    @else {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .another-class {
        color: #fff;
    }
}
